<?xml version='1.0' encoding='utf-8'?>
<plugin id="thirdlogin-plugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>thirdlogin-plugin</name>
    <js-module name="ThirdLogin" src="www/thirdlogin-plugin.js">
        <clobbers target="ThirdLogin" />
    </js-module>
    <!--添加Android平台  -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <!-- JS调用时的名字 -->
            <feature name="ThirdLogin">
                <!-- value：的值是对应的插件中ToastDemo.java存放的路径 -->
                <param name="android-package" value="com.microduino.mDesigner.ThirdLogin"/>
            </feature>
        </config-file>
        <!-- src:是插件里存放对应.java的路径， target-dir:安装插件时把.java文件存放的位置，要和上面的value路径对应 -->
        <source-file src="src/android/ThirdLogin.java" target-dir="src/com/microduino/mDesigner" />


        <hook type="after_plugin_install" src="scripts/android_after_plugin_install.js" />
        <!-- ShareSDK Sources -->
        <source-file src="src/android/ShareSDK/src/com/microduino/mDesigner/wxapi/WXEntryActivity.java"
                     target-dir="java/com/microduino/mDesigner/wxapi" />
        <source-file src="src/android/ShareSDK/assets/ShareSDK.xml" target-dir="assets" />
        <source-file src="src/android/strings.xml" target-dir="res/values" />
        <source-file src="src/android/ShareSDK/src/cn/sharesdk/onekeyshare" target-dir="java/cn/sharesdk" />
        <source-file src="src/android/ShareSDK/res/values/ssdk_instapaper_strings.xml" target-dir="res/values" />
        <source-file src="src/android/ShareSDK/res/values/ssdk_oks_color_drawables.xml" target-dir="res/values" />
        <source-file src="src/android/ShareSDK/res/values/ssdk_oks_strings.xml" target-dir="res/values" />
        <source-file src="src/android/ShareSDK/res/values/ssdk_strings.xml" target-dir="res/values" />
        <!-- ShareSDK Libs -->
        <lib-file src="src/android/ShareSDK/libs/MobCommons-2018.1011.1129.jar" />
        <lib-file src="src/android/ShareSDK/libs/MobTools-2018.1009.1056.jar" />
        <lib-file src="src/android/ShareSDK/libs/ShareSDK-Core-3.3.0.jar" />
        <lib-file src="src/android/ShareSDK/libs/ShareSDK-Facebook-3.3.0.jar" />
        <lib-file src="src/android/ShareSDK/libs/ShareSDK-FacebookMessenger-3.3.0.jar" />
        <lib-file src="src/android/ShareSDK/libs/ShareSDK-GooglePlus-3.3.0.jar" />
        <lib-file src="src/android/ShareSDK/libs/ShareSDK-Instagram-3.3.0.jar" />
        <lib-file src="src/android/ShareSDK/libs/ShareSDK-Kakao-Core-3.3.0.jar" />
        <lib-file src="src/android/ShareSDK/libs/ShareSDK-KakaoTalk-3.3.0.jar" />
        <lib-file src="src/android/ShareSDK/libs/ShareSDK-QQ-3.3.0.jar" />
        <lib-file src="src/android/ShareSDK/libs/ShareSDK-QZone-3.3.0.jar" />
        <lib-file src="src/android/ShareSDK/libs/ShareSDK-SinaWeibo-3.3.0.jar" />
        <lib-file src="src/android/ShareSDK/libs/ShareSDK-Twitter-3.3.0.jar" />
        <lib-file src="src/android/ShareSDK/libs/ShareSDK-Wechat-Core-3.3.0.jar" />
        <lib-file src="src/android/ShareSDK/libs/ShareSDK-Wechat-Favorite-3.3.0.jar" />
        <lib-file src="src/android/ShareSDK/libs/ShareSDK-Wechat-Moments-3.3.0.jar" />
        <lib-file src="src/android/ShareSDK/libs/ShareSDK-WhatsApp-3.3.0.jar" />
        <lib-file src="src/android/ShareSDK/libs/ShareSDK-Youtube-3.3.0.jar" />
        <!--添加权限-->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.GET_TASKS" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.mob.tools.MobUIShell" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateHidden|adjustResize">
                <!-- 调用新浪原生SDK，需要注册的回调activity -->
                <intent-filter>
                    <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
            </activity>
            <!--微信分享回调 WXEntryActivity是相对路径，所以需要获取当前项目的包名，动态copy到指定目录。通过cordova的hook完成-->
            <activity android:name=".wxapi.WXEntryActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:screenOrientation="portrait" />
            <meta-data android:name="Mob-AppKey" android:value="28c038beb20d6"/>
            <meta-data android:name="Mob-AppSecret" android:value="e1d6dd766e21ac7fbdd25b91efd5f712"/>
        </config-file>
    </platform>

    <platform name="ios">
        <hook type="after_platform_add" src="scripts/fix_openurl_callback.js"/>
        <config-file target="config.xml" parent="/*">
            <feature name="ThirdLogin">
                <!--ThirdLogin的路径-->
                <param name="ios-package" value="ThirdLogin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/ThirdLogin.h"/>
        <source-file src="src/ios/ThirdLogin.m"/>
        <config-file target="*-Info.plist" parent="MOBAppkey">
            <string>28c038beb20d6</string>
        </config-file>
        <config-file target="*-Info.plist" parent="MOBAppSecret">
            <string>e1d6dd766e21ac7fbdd25b91efd5f712</string>
        </config-file>
        <!--添加Scheme白名单 reference url http://wiki.mob.com/ios9-%E5%AF%B9sharesdk%E7%9A%84%E5%BD%B1%E5%93%8D%EF%BC%88%E9%80%82%E9%85%8Dios-9%E5%BF%85%E8%AF%BB%EF%BC%89/-->
        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>weixin</string>
                <string>wechat</string>
                <string>mqqOpensdkSSoLogin</string>
                <string>mqqopensdkapiV2</string>
                <string>mqqopensdkapiV3</string>
                <string>wtloginmqq2</string>
                <string>mqq</string>
                <string>mqqapi</string>
                <string>mqzoneopensdk</string>
                <string>mqzoneopensdkapi</string>
                <string>mqzoneopensdkapi19</string>
                <string>mqqwpa</string>
                <string>mqzone</string>
                <string>sinaweibo</string>
                <string>sinaweibohd</string>
                <string>sinaweibosso</string>
                <string>sinaweibohdsso</string>
                <string>weibosdk</string>
                <string>weibosdk2.5</string>
                <string>fbauth2</string>
                <string>fbauth</string>
            </array>
        </config-file>
        <!--配置URL Scheme reference http://bbs.mob.com/thread-567-1-1.html-->
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLName</key>
                    <string></string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>wx70ae63195d951329</string>
                    </array>
                </dict>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLName</key>
                    <string></string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>wb206863495</string>
                    </array>
                </dict>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLName</key>
                    <string></string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>fb107704292745179</string>
                    </array>
                </dict>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLName</key>
                    <string></string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>twitterkit-wGeZVOFRlt1YTyIBan2RSeK4e</string>
                    </array>
                </dict>
            </array>
        </config-file>
        <!-- ShareSDK -->
        <framework src="src/ios/shareSDk/Required/MOBFoundation.framework" custom="true" />
        <framework src="src/ios/shareSDK/ShareSDK/ShareSDK.framework" custom="true" />
        <framework src="src/ios/shareSDK/ShareSDK/Support/Optional/ShareSDKExtension.framework" custom="true" />
        <resource-file src="src/ios/shareSDK//ShareSDK/Support/Optional/ShareSDKUI.bundle" />
        <framework src="src/ios/shareSDK/ShareSDK/Support/Optional/ShareSDKUI.framework" custom="true" />
        <framework src="src/ios/shareSDK/ShareSDK/Support/Required/ShareSDKConnector.framework" custom="true" />
        <resource-file src="src/ios/shareSDK//ShareSDK/Support/Required/ShareSDK.bundle" />
        <!-- Other required frameworks -->
        <framework src="libicucore.tbd" />
        <framework src="libz.tbd" />
        <framework src="libstdc++.tbd" />
        <framework src="JavaScriptCore.framework" />
        <!-- Wechat and QQ friend Zone and sina required frameworks -->
        <framework src="libsqlite3.tbd" />
        <!-- sina required frameworks -->
        <framework src="ImageIO.framework" />
        <!-- Wechat Official -->
        <framework src="src/ios/shareSDK/ShareSDK/Support/PlatformConnector/WechatConnector.framework" custom="true" />
        <source-file src="src/ios/shareSDK/ShareSDK/Support/PlatformSDK/WeChatSDK/libWeChatSDK.a" framework="true" />
        <header-file src="src/ios/shareSDK/ShareSDK/Support/PlatformSDK/WeChatSDK/WXApi.h" />
        <header-file src="src/ios/shareSDK/ShareSDK/Support/PlatformSDK/WeChatSDK/WXApiObject.h" />
        <header-file src="src/ios/shareSDK/ShareSDK/Support/PlatformSDK/WeChatSDK/WechatAuthSDK.h" />
        <!-- Sina Weibo Official -->
        <resource-file src="src/ios/shareSDK/ShareSDK/Support/PlatformSDK/SinaWeiboSDK/WeiboSDK.bundle" />
        <framework src="src/ios/shareSDK/ShareSDK/Support/PlatformConnector/SinaWeiboConnector.framework" custom="true" />
        <source-file src="src/ios/shareSDK/ShareSDK/Support/PlatformSDK/SinaWeiboSDK/libWeiboSDK.a" framework="true" />
        <header-file src="src/ios/shareSDK/ShareSDK/Support/PlatformSDK/SinaWeiboSDK/WBHttpRequest.h" />
        <header-file src="src/ios/shareSDK/ShareSDK/Support/PlatformSDK/SinaWeiboSDK/WeiboSDK.h" />
        <!-- QQ Official -->
        <framework src="src/ios/shareSDK/ShareSDK/Support/PlatformConnector/QQConnector.framework" custom="true" />
        <framework src="src/ios/shareSDK/ShareSDK/Support/PlatformSDK/QQSDK/TencentOpenAPI.framework" custom="true" />
        <!--facebook-->
        <framework src="src/ios/shareSDK/ShareSDK/Support/PlatformConnector/FacebookConnector.framework" custom="true" />
        <framework src="src/ios/shareSDK/ShareSDK/Support/PlatformConnector/FacebookMessengerConnector.framework" custom="true" />
        <!--twitter-->
        <framework src="src/ios/shareSDK/ShareSDK/Support/PlatformConnector/TwitterConnector.framework" custom="true" />

        <framework src="src/ios/shareSDK/ShareSDK/Support/PlatformConnector/AliSocialConnector.framework" custom="true" />
        <framework src="src/ios/shareSDK/ShareSDK/Support/PlatformConnector/InstagramConnector.framework" custom="true" />
        <framework src="src/ios/shareSDK/ShareSDK/Support/PlatformConnector/CopyConnector.framework" custom="true" />
        <framework src="src/ios/shareSDK/ShareSDK/Support/PlatformConnector/GooglePlusConnector.framework" custom="true" />
        <framework src="src/ios/shareSDK/ShareSDK/Support/PlatformConnector/LinkedInConnector.framework" custom="true" />
        <!--<framework src="src/ios/shareSDK/ShareSDK/Support/PlatformConnector/QQConnector.framework" custom="true" />-->
        <framework src="src/ios/shareSDK/ShareSDK/Support/PlatformConnector/WhatsAppConnector.framework" custom="true" />
        <framework src="src/ios/shareSDK/ShareSDK/Support/PlatformConnector/YouTubeConnector.framework" custom="true" />
        <framework src="src/ios/shareSDK/ShareSDK/Support/PlatformConnector/TencentWeiboConnector.framework" custom="true" />
    </platform>

</plugin>
